<div class="container is-fullheight">
    <div class="mt-5">
        ----------
    </div>
    <div class="mt-5">
        <h2 class="title is-5">NOTES FOR TESTING</h2>
    </div>
    <div class="mt-5">
        <h2 class="title is-6">- This is Home view. After logging in with MetaMask Wallet, please choose your prefered
            view from navigation.</h2>
    </div>
    <div class="mt-5">
        <ul>
            <h2 class="title is-6">- Seller View | You act as a seller. Allows you to declare meter data (local browser
                storage), create
                auctions
                and
                view auctions you
                created.</h2>
        </ul>
    </div>
    <div class="mt-5">
        <ul>
            <h2 class="title is-6">- Buyer View | You act as a buyer. Allows you to view all created auctions. In this
                view
                you can open any active auction and place your bid.<br>(!!! WARNING !!! Choose different MetaMask
                account
                (connect different wallet address)
                to act as a buyer. Auction owners can't Bid.)</h2>
        </ul>
    </div>
    <div class="mt-5">
        <h2 class="title is-6">- Demo Auction List View | This view shows only successful auctions (status: Ended). This
            view shows FINAL deals between sellers and buyers.<br></h2>
    </div>
    <div class="mt-5">
        <h2 class="title is-6">- When testing, try to use couple different MetaMask wallets (Accounts) to see how
            app components are displayed based on your role (seller, buyer or passive participant).<br></h2>
    </div>
    <div class="mt-5">
        <h2 class="title is-6">Thanks for viewing,<br> Edgaras Gaižauskas, VU FinTech 2023</h2>
    </div>
</div>