<div class="columns">
    <div class="column">
        <h1 class="title is-5">Auction info</h1>
        <div>Auction ID: {{popupIndex}}</div>
        <div *ngIf="singleAuctionData[popupIndex].isActive else notActive">
            <div>Auction status: <b>Ongoing</b></div>
        </div>
        <ng-template #notActive>
            <div *ngIf="singleAuctionData[popupIndex].isSuccessful else notSuccessful">
                <div>Auction status: <b>Ended</b></div>
            </div>
            <ng-template #notSuccessful>
                <div>Auction status: <b>Failed</b></div>
            </ng-template>
        </ng-template>
        <div>Auction Address: <b>{{helper.Trim(singleAuctionData[popupIndex].address)}}</b></div>
        <p>Min | Max price:
            <b>
                {{singleAuctionData[popupIndex].minPrice}} |
                {{singleAuctionData[popupIndex].maxPrice}}
            </b> wei
        <p>Quantity:
            <b>{{singleAuctionData[popupIndex].qnty}}</b> kWh
        </p>

        <div>Time left in blocks: <b>{{singleAuctionData[popupIndex].timeLeft}}</b></div>



    </div>

    <div class="column">
        <div>
            <h1 class="title is-5">Bidding</h1>

            <p>Top Bidder:
                <b>{{helper.Trim(singleAuctionData[popupIndex].winningBidder)}}</b>
            <p>Highest Bid:
                <b>{{singleAuctionData[popupIndex].currentBid}}</b>
                ({{singleAuctionData[popupIndex].pricePerUnit}} wei/kWh)

        </div>

        <div
            *ngIf="singleAuctionData[popupIndex].isOwnerLoading || !singleAuctionData[popupIndex].isActive; then thenBlock else elseBlock">
        </div>
        <ng-template #thenBlock></ng-template>
        <ng-template #elseBlock>
            <form class="field" appearance="outline" [formGroup]="form" (ngSubmit)="onSubmit()">


                <input class="input is-small" matInput placeholder="Increase your bid by... (wei)" type="number"
                    id="bid" name="bid" formControlName="bid" (ngModelChange)="valuechange($event)">
                <p class="has-text-info">Your total bid will be:
                    <b>{{userTotalBid}}</b>
                    wei
                </p>

                <button class="button is-link mt-3 is-small">Place Bid</button>


            </form>
        </ng-template>


        <div *ngIf="!singleAuctionData[popupIndex].isActive">
            <button class="button is-warning is-small mt-3 ml-1" (click)="finish()">Finalise Auction</button>
        </div>

        <div *ngIf="singleAuctionData[popupIndex].isActive && singleAuctionData[popupIndex].isOwnerLoading">
            <button class="button is-danger is-small mt-3 ml-1" (click)="cancel()">Cancel</button>
        </div>

    </div>

</div>
<div class="popup-close">
    <button mat-button mat-dialog-close class="button is-warning is-light is-small">Close window</button>
</div>